.button {
  display: inline-block;
  margin: 5px 10px;
  width: 70px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Orbitron;
}
.mathButtons {
  margin: 5px 10px;
  color: #fff;
  text-shadow: -1px -1px 0px #44006f;
  background-color: #3d405b;

  box-shadow: 0px 0px 2px #3d405b;
}
.digits {
  color: #181818;
  text-shadow: 1px 1px 0px #fff;
  background-color: #ebebeb;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #c1c1c1;
  border-left: 2px solid #c1c1c1;
  border-radius: 4px;
  box-shadow: 0px 0px 2px #636262;
}
.digits:hover,
.mathButtons:hover,
#clearButton:hover {
  background-color: #ffba75;
  box-shadow: 0px 0px 2px #ffba75, inset 0px -20px 1px #ff8000;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #ae5700;
  border-left: 2px solid #ae5700;
}

#clearButton {
  color: #fff;
  text-shadow: -1px -1px 0px #44006f;
  background-color: #e63946;
  border-top: 2px solid #ef476f;

  box-shadow: 0px 0px 2px #ef476f;
}
